  body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
  }

  header, .formulario, .boton {
  text-align: center;
  display: block;
}

header{
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 200%;
  margin: 0%;
  background: #dcdde1 ;
  color: #273c75;
}

.colegio{
  padding-top: 1%;
}

.formulario{
  width: 100%;
  text-align: center;
  margin-top: 3%;
}

.anchoformulario{
  border: 1px solid black;
  width: 50%;
  text-align: center;
  margin: auto;
  background: #f5f6fa  ;
}

.sub{
  font-size: 250%;
  padding-top: 3%;
  background: transparent;
}

.total{
  font-size: 150%;
  background: transparent;
}

label{
  font-size:x-large;
  background: transparent;
}

.informacion{
  float: right;
  margin-right: 18%;
}
.cabeceras{
  float: left;
  margin-left: 18%;
}

input{
  font-size:large;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.boton{
  padding: 1.5%;
}

.pago{
  padding: 5px 10px 5px 10px;
  border-radius: 20%;
  cursor: pointer;
  background: #dcdde1;
  border: 2px solid #273c75;
  color: #273c75;
  transition: background 1s, color 1s;
}

.cancelar{
  padding: 5px 10px 5px 10px;
  border-radius: 20%;
  cursor: pointer;
  margin-right: 5%;
  background: red;
  color: white;
  transition: background 1s, color 1s;
}

.cancelar:hover{
  background: white;
  color: red;
}

.pago:hover{
  background: #273c75;
  color: #dcdde1;
}


footer{
  box-sizing: border-box;
  text-align: center;
  border: 1px solid black;
  background: #273c75;
  color: white;
  padding: 2.9%;
}

::-webkit-scrollbar {
  display: none;
}




