  body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
  }

  header, .formulario, .boton {
  text-align: center;
  display: block;
}

header{
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 200%;
  margin: 0%;
  background: #dcdde1 ;
  color: #273c75;
}

.colegio{
  padding-top: 2%;
  background: #dcdde1 ;
}

.ancho{
  width: 80%;
  height: auto;
  margin: auto;
}

.formulario{
  width: 100%;
  text-align: center;
  margin-top: 3%;
}

.sub{
  font-size: 250%;
  padding-top: 3%;
  background: transparent;
}

.total{
  font-size: 150%;
  background: transparent;
}

.anchoformulario{
  border: 1px solid black;
  width: 50%;
  text-align: center;
  margin: auto;
  background: #f5f6fa  ;
}

label{
  font-size:x-large;
  background: transparent;
  text-align:left;

}

.informacion{
  padding: auto;
}
.cabeceras{
  padding: auto;
}

input{
  font-size:large;
  text-align: center;
}

.boton{
  padding: 1.5%;
}

.pago{
  padding: 5px 10px 5px 10px;
  border-radius: 15%;
  cursor: pointer;
  background: #dcdde1;
}

.cancelar{
  padding: 5px 10px 5px 10px;
  border-radius: 15%;
  cursor: pointer;
  margin-right: 5%;
  background: red;
  color: white;
}

footer{
  box-sizing: border-box;
  text-align: center;
  border: 1px solid black;
  background: #273c75;
  color: white;
  padding: 3.52%;
}





