
*{
  box-sizing: border-box;
  display: block;
  border: 1px solid black ;
}

header .container{
  display: flex;
}

.menu{
  text-align: center;
  padding: 15px;
}

nav ul li {
  display: inline;
}
